#combate {
    margin: 0 auto;
    z-index: 50;
}

#combate > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0;
    transition: all 0.3s ease-in-out;
}

#combate h2 {
    padding: 0;
    margin: 0;
}

#combate img {
    width: 4rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#boxeador1 {
    background-color: black;
    color: white;
}

#boxeador2 {
    background-color: white;
    color: black;
}

#boxeador1, #boxeador2 {
    padding: 1rem 1.25rem .5rem 1.25rem;
}

#boxeador1 h2, #boxeador2 h2 {
    font-size: 4.5em;
    line-height: 1;
    font-family: "Boxing";
    text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
    #combate {
        left: 50%;
        bottom: 12rem;
        transform: translateX(-50%);
        z-index: 50;
        position: absolute;
        width: auto;
    }
}
