#info {
    margin: 0 auto;
    z-index: 50;
    width: 100%;
}

#info > div:first-child {
    display: flex;
    flex-direction: column;
    transition: all 15s ease-in-out;
}

#info h2 {
    padding: 0;
    margin: 0;
}

#fecha h2 {
    font-family: "Boxing";
    background-color: white;
    color: black;
    font-size: 4.5em;
}

#entradas {
    font-family: "Boxing";
    background-color: rgb(2 132 199);
    color: black;
}

#entradas h2 {
    transition: 0.1s ease-in-out;
    color: white;
    font-size: 2.25em;
    line-height: 2.5rem;
    display: inline-block;
}

#entradas h2:hover {
    transform: scale(105%);
    filter: contrast(150%);
}

#twitch, #entradas {
    padding: .5rem 1.25rem .25rem 1.25rem;
}

#twitch {
    font-family: "Boxing";
    background-color: black;
    color: white;
}

#twitch a {
    font-size: 48px;
}

#twitch h2 {
    transition: 0.1s ease-in-out;
}

#twitch h2:hover {
    transform: scale(105%);
    filter: contrast(150%);
}

.ibai {
    color: yellow;
}

@media screen and (min-width: 1024px) {
    #info {
        left: 50%;
        bottom: 10rem;
        transform: translateX(-50%);
        z-index: 50;
        position: absolute;
        width: auto;
    }
}
